{:deps
 {org.clojure/clojure                           {:mvn/version "1.7.0"},
  com.vladsch.flexmark/flexmark-profile-pegdown {:mvn/version "0.62.2"},
  com.vladsch.flexmark/flexmark                 {:mvn/version "0.62.2"},
  org.clojure/clojurescript                     {:mvn/version "1.7.189"},
  org.clojure/tools.namespace                   {:mvn/version "0.2.11"},
  hiccup                                        {:mvn/version "1.0.5"},
  com.vladsch.flexmark/flexmark-util-misc       {:mvn/version "0.62.2"},
  enlive                                        {:mvn/version "1.1.6"},
  org.ow2.asm/asm-all                           {:mvn/version "5.0.3"}}}